<div id="<%= dom_id register %>">
  <p>
    <strong>Activity tittle:</strong>
    <%= activity.activity_tittle %>
  </p>
  <p>
    <strong>Registrationtime:</strong>
    <%= register.registrationTime %>
  </p>
    <%=current_kariah.username%>
  
  <p>
    <strong>Registrationdate:</strong>
    <%= register.registrationDate %>
  </p>

</div>
