<div id="<%= dom_id register %>">

 
  <p>
    <strong>Registration time:</strong>
    <%= register.registrationTime %>
  </p>

   <p>
    <strong>Activity Title</strong>
    <%= register.activity.activity_tittle %>
  </p>

    <p>
    <strong>Name</strong>
    <%= register.kariah.username %>
  </p>

   <p>
    <strong>Fee</strong>
    <%= register.activity.registration_fee %>
  </p>
  
  <p>
    <strong>Registration date:</strong>
    <%= register.registrationDate %>
  </p>

</div>
