<div id="<%= dom_id activity %>">
  <p>
    <strong>Activity tittle:</strong>
    <%= activity.activity_tittle %>
  </p>


  <p>
    <strong>Activity date:</strong>
    <%= activity.activity_date %>
  </p>

  <p>
    <strong>Activity time:</strong>
    <%= activity.activity_time %>
  </p>

  <p>
    <strong>Activity type:</strong>
    <%= activity.activity_type %>
  </p>

    <p>
    <strong>Admin ID:</strong>
    <%= activity.ajk_id %>
  </p>
</div>
